[user]
    name = Igor Kalnitsky
    email = igor@kalnitsky.org
    signingkey = 8910196E

[color]
    ui = true

[alias]
    unstage = reset HEAD
    discard-changes = checkout --
    branches = branch -vv
    history = log --graph --decorate --oneline
    authors = shortlog -sne
    filelog = log -u

[push]
    default = simple
