/fish/**/_*.fish
/fish/**/fish_*
/fish/**/config.local.fish

/mc/.local/share/mc/history
/mc/.local/share/mc/filepos

/nvim/**/init.local.lua
/nvim/.config/nvim/spell/

/systemd/.config/systemd/user/*.target.wants/

/vscode/.config/Code/*
!/vscode/.config/Code/User/
/vscode/.config/Code/User/*
!/vscode/.config/Code/User/keybindings.json
!/vscode/.config/Code/User/settings.json
!/vscode/.config/Code/User/snippets/
