/git/.config/git/config.local

/fish/.config/fish/fish_*
/fish/.config/fish/config.local.fish
/fish/**/fish/completions/

/mc/.local/share/mc/history
/mc/.local/share/mc/filepos

/nvim/.config/nvim/init.local.lua
/nvim/.config/nvim/spell/

/systemd/.config/systemd/user/*.target.wants/

/vscode/.config/Code/*
!/vscode/.config/Code/User/
/vscode/.config/Code/User/*
!/vscode/.config/Code/User/keybindings.json
!/vscode/.config/Code/User/settings.json
!/vscode/.config/Code/User/snippets/
