[Unit]
Description=Idle management daemon for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    timeout 280 'brightnessctl --save && brightnessctl set 20%' \
         resume 'brightnessctl --restore' \
    timeout 300 'swaylock -f' \
    timeout 320 'swaymsg "output * dpms off"' \
         resume 'swaymsg "output * dpms on"' \
   before-sleep 'swaylock -f' \
           lock 'swaylock -f'

[Install]
WantedBy=sway-session.target
