[Unit]
Description=Highly customizable Wayland bar for Wlroots compositors
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=on-failure

[Install]
WantedBy=sway-session.target
