* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-size: 14px;
}

window#waybar {
  background-color: #2e3440;
  color: #d8dee9;
}

.modules-right .module {
  margin: 0px 4px;
  padding: 0px 5px;
}

#workspaces button {
  color: #d8dee9;
}

#workspaces button.focused {
  background-color: #3b4252;
}

#workspaces button:hover {
  background-color: #3b4252;
}

#wireplumber, #pulseaudio {
  background-color: #8fbcbb;
  color: #2e3440;
}

#network {
  background-color: #a3be86;
  color: #2e3440;
}

#language {
  background-color: #3b4252;
}
